#top-bar{
	margin-bottom: 51px;
}
#footer{
	background-color: silver;
}

button{
	margin: 1px;
}

.navbar-inverse{
	border-color: #00B894;
	background-color: #34ACAC;
}
.navbar-inverse .navbar-brand{
	color : #FFFFFF;
}
.navbar-inverse .navbar-nav > li > a{
	color : #AFECE0;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:focus, 
.navbar-inverse .navbar-nav > .active > a:hover{
	color: #ffffff;
	background-color:#00D7AD; 
}

.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

#sidebar2, #sidebar, #main-div{
	margin-top: 15px;
	margin-bottom: 15px;
}

/*===========================*/

.jumbotron{
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 35px;
}

#forkMeRibbon{
	z-index: 9999;
}
/*===========================*/
.share-button{
	margin-top: 1%;
}
#bt-fb-share > img, #bt-g-share > img, #bt-twitter-share > img{
	position: absolute;
	width: 25px;
	height: 25px;
	opacity: 0.6;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}
#bt-fb-share > img:hover, #bt-g-share > img:hover, #bt-twitter-share > img:hover{
	width: 30px;
	height: 30px;
	opacity: 1.0;
}

/*make footer stick to bottom*/
* {
  margin: 0;
}
html, body {
  height: 100%;
}
#body {
  min-height: 100%;
  margin-bottom: -60px; 
}
#body:after {
  content: "";
  display: block;
}
#footer, #body:after {
  height: 60px; 
}
#footer {
  background: #374D3E;
}

.copyright{
	margin-top: 1%;
	margin-bottom: auto;
}

.copyright-prefix{
	color: #8C8989;
	text-align: center;
	margin-top: 1%;
}

.copyright-prefix > a{
	color:silver;
}

.copyright-prefix > a:hover{
	color: #8B5CE0;
	text-decoration: none;
}